<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Редкие растения АК | РРАК</title>
    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" th:src="@{~/js/ajaxDelete.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img th:src="@{~/img/herb.png}" width="30" height="30" class="d-inline-block align-top" alt="Logo RRAK">
        Редкие растения АК
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/index-admin">Редактирование списка растений</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h3 class="text-center">Редактирование редкого растения Алтайского края</h3>
    <form action="#" method="post" th:action="@{/edit-herb/{id}(id=${herbId})}" th:object="${plant}">
        <input type="hidden" th:value="${herbId}" id="herbId">
        <div class="form-group row">
            <label for="forName" class="col-sm-2 col-form-label">Название</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="forName" placeholder="Введите название растения"
                       th:field="*{name}">
            </div>
        </div>
        <div class="form-group row">
            <label for="forDescriprion" class="col-sm-2 col-form-label">Описание</label>
            <div class="col-sm-4">
                    <textarea class="form-control" id="forDescriprion" placeholder="Введите описание растения"
                              rows="3" th:field="*{description}"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="forSearchers" class="col-sm-2 col-form-label">Исследователи</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="forSearchers" placeholder="Введите исследователей"
                       th:field="*{researchers}">
            </div>
        </div>
        <div class="form-group row">
            <label for="forStatus" class="col-sm-2 col-form-label">Статус</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="forStatus" placeholder="Введите статус растения"
                       th:field="*{status}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Заповедники</div>
            <div class="col-sm-4">
                <th:block th:each="preserve, state: ${allPreserves}">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="${plant.preserves}" th:value="${preserve.id}"
                               th:id="${'gridCheck' + state.count}" th:checked="${plant.consistsInPreserves(preserve)}">
                        <label class="form-check-label" th:for="${'gridCheck' + state.count}"
                               th:text="${preserve.name}"></label>
                    </div>
                </th:block>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary col-sm-4">Изменить</button>
                <button type="button" class="btn btn-danger col-sm-2">Удалить</button>
                <button type="button" th:onclick="'location.href=\'/index-admin\''" class="btn btn-warning col-sm-2">Назад</button>
            </div>
        </div>
    </form>

</div>
</body>
</html>
