<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Редкие растения АК | РРАК</title>
    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img th:src="@{~/img/herb.png}" width="30" height="30" class="d-inline-block align-top" alt="Logo RRAK">
        Редкие растения АК
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/index-admin">Редактирование списка растений</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h3 class="text-center">Просмотр редкого растения Алтайского края</h3>
    <div class="card mx-auto p-0">
        <img th:src="@{~/img/rareherb{id}.jpg(id=${plant.id % 5})}" class="img-fluid d-block mx-auto" th:alt="${'Rare herb' + (plant.id % 5)}">
        <div class="card-body h-auto">
            <h5 th:utext="${plant.name}" class="card-title text-center">Название растения</h5>
            <p th:utext="${plant.description}" class="card-text">Описание: Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore velit quos
                totam quidem consectetur rem harum eveniet laboriosam maiores repudiandae, laudantium voluptate vero
                nostrum soluta explicabo veniam dolorum! Quibusdam, animi!</p>
        </div>
        <ul class="list-group list-group-flush p-0">
            <li class="list-group-item px-3 py-1" id="researchers">Исследователи: <th:block th:utext="${plant.researchers}"/></li>
            <li class="list-group-item px-3 py-1" id="status">Статус: <th:block th:utext="${plant.status}"/></li>
            <li class="list-group-item px-3 py-1" id="preserves">Находится в заповедниках: <th:block th:utext="${plant.getStringByPreserves()}"/></li>
        </ul>
        <button type="button" th:onclick="'location.href=\'/\''" class="btn btn-primary my-2 mx-4 p-2">Назад</button>
    </div>
</div>
</body>
</html>
